<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    
    @Scripts.Render("~/easyUIJS")

    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()

</body>
</html>
